#config
**/**/config.ini
**/config.ini
**/**/link.ini
**/link.ini

# files
*.iml
*.ipr
*.iws
*.orig
*.json
**/*.json
**/**/*.json
.classpath
.idea
.local
.project
.settings
target

__pycache__
**/__pycache__
**/**/__pycache__

# logs
*.log
**/*.log
**/**/*.log
